In [1]:
import numpy as np                  # type: ignore
import pandas as pd                 # type: ignore

<div style="background-color:rgb(60, 255, 0) ; color:rgb(44, 42, 42); width: 100%; height: 50px; text-align: center; font-weight: bold; line-height: 50px; margin: 10px 0; font-size: 24px;">
Example 2️⃣
</div>

In [2]:
data2=pd.read_csv("../../datasets/Flavors.csv")
data2

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [3]:
# Which Base Flavor is better on average ?
data2.groupby("Base Flavor").mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [4]:
# Count Ice creams based on Base Flavor ?
data2.groupby("Base Flavor").count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [5]:
# Return the worst Ice Cream in Texture Rating for each category(Base Flavor)
print(data2.groupby("Base Flavor").min())   # not good to get min ice-cream
print("---------")
result=data2.groupby("Base Flavor")["Texture Rating"].min()
print(result)
print("---------")
data2[np.isin(data2["Texture Rating"],result.values)]

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7
---------
Base Flavor
Chocolate    7.0
Vanilla      3.4
Name: Texture Rating, dtype: float64
---------

       Flavor Base Flavor Liked  Flavor Rating  Texture Rating  Total Rating
4  Rocky Road   Chocolate   Yes            8.2             7.0          15.2
5   Pistachio     Vanilla    No            2.3             3.4           5.7

In [6]:
data2.groupby("Base Flavor")["Texture Rating"].agg(["mean","min","max","count","sum","median"])

                 mean  min  max  count   sum  median
Base Flavor
Chocolate    7.233333  7.0  7.6      3  21.7     7.1
Vanilla      5.650000  3.4  8.0      6  33.9     5.5

--- 
> ### Groupby multiple columns

In [7]:
data2.groupby(["Base Flavor"]).mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [8]:
data2.groupby(["Base Flavor","Liked"]).mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [9]:
data2.groupby(["Base Flavor","Liked"]).agg({"Texture Rating":["min","max","mean"]})

                  Texture Rating
                             min  max      mean
Base Flavor Liked
Chocolate   Yes              7.0  7.6  7.233333
Vanilla     No               3.4  5.0  4.466667
            Yes              6.0  8.0  6.833333